@model almany.AfterBeforeImage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AfterBeforeImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.url_picture_before)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url_picture_before)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url_picture_after)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url_picture_after)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statuss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statuss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secoundry_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secoundry_title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
