@model IEnumerable<almany.AfterBeforeImage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.url_picture_before)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url_picture_after)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statuss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.secoundry_title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.url_picture_before)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url_picture_after)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statuss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.first_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.secoundry_title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
